body{
    background-color: rgba(0, 0, 0, 0.941);
}

#content{ /* doesnt fucking work right now */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
 
#navbar{ /* top nav bar options */
    background-color: rgba(0, 0, 0, 0.868);
}

#clock { /* time number options*/
    text-align: center;
    font-size: 150px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

.sidebar { /* sidebar options*/
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    transition: 0.5s;
  }
  
  /* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* nav links color */
.sidebar a:hover {
    color: #f1f1f1;
  }
  

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
.openbtn {
    position: absolute;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
.openbtn:hover {
    background-color: #444;
  }

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock-in {
    width: fit-content;
    height: fit-content;
    background-color: #2cc758;
    border-radius: 6%;
    margin: 20px;
    color: aliceblue;
    font-size: 40px;
    padding-left: 45px;
    padding-right: 45px;
  }
#clock-in:hover {
    background-color: #4fc771;
    cursor: pointer;
}

#clock-out {
    width: fit-content;
    height: fit-content;
    background-color: rgb(219, 10, 10);
    border-radius: 6%;
    margin: 20px;
    color: floralwhite;
    font-size: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }
  #clock-out:hover {
    background-color: rgb(223, 49, 49);
    cursor: pointer;
}