.confirm_box {
    width: 300px;
  border: 5px solid rgb(92, 89, 89);
  margin: auto;
  text-align: center;
  padding: 7px;
  background-color: rgb(92, 89, 89);
  color: white;
  font-size: larger;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}



.confirm_box:hover {
    background-color: rgb(50, 43, 91);
    border: 5px solid rgb(50, 43, 91);
}

.confirm_box:active {
    background-color: rgb(58, 52, 91);
    border: 5px solid rgb(58, 52, 91);
}

#icon1:hover {
    transform: scale(1.1);
}

#icon2:hover {
    transform: scale(1.1);
}

#icon3:hover {
    transform: scale(1.1);
}

.horizontal {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.horizontal li {
    margin: 0 15px; 
}


#switchButton {
    justify-content: right;
    width: 200px;
  border: 5px solid rgb(92, 89, 89);
  margin: auto;
  padding: 7px;
  background-color: rgb(92, 89, 89);
  color: white;
  font-size: large;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

#switchButton:hover {
    background-color: rgb(50, 43, 91);
    border: 5px solid rgb(50, 43, 91);
}

#switchButton:active {
    background-color: rgb(58, 52, 91);
}

.dark-mode {
    background-color: black;
    color: white;
}

.jumbotron-dark-mode {
    background-color: black;
    color: white;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
}

#guy1:hover {
    transform: scale(1.1); 
}